/*PRIMARY*/
/*LIGHT THEME*/
/*DARK THEME*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}

.main {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: 0 10%;
  font-size: 14px;
  background: #1e202a;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(65%, #1e202a),
      color-stop(65%, #1f212e)
    )
    no-repeat;
  background: linear-gradient(0deg, #1e202a 65%, #1f212e 65%) no-repeat;
}

main {
  margin-top: 40px;
}

h1 {
  font-size: 40px;
  margin: 0;
}

span {
  font-size: 10px;
  font-weight: 700;
}

.down {
  color: #dc414c;
}

.up {
  color: #1db489;
}

main h2 {
  position: relative;
  color: #63687e;
}

h5 {
  margin: 0;
  vertical-align: auto;
  color: #63687e;
}

nav {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav span {
  color: #63687e;
}

nav article {
  margin-bottom: 10px;
}

article h2,
h6 {
  margin: 0;
}

h2 {
  color: white;
}

h6 {
  font-size: 11px;
  color: #63687e;
}

article:nth-child(2) {
  -ms-grid-column-align: end;
  justify-self: end;
}

article:nth-child(2) span {
  vertical-align: sub;
}

/*SWITCH*/
#toggle {
  opacity: 0;
}

#toggle:checked ~ .switch {
  color: #ddd;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: white;
  position: absolute;
  top: 55px;
  left: 81.5%;
  text-align: center;
  cursor: pointer;
}

.switch:before {
  display: inline-block;
  margin: 0.3em 5.2em;
  width: 12px;
  height: 12px;
  position: absolute;
  content: "";
  border-radius: 50%;
  background: #252a41;
  z-index: 2;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.switch:after {
  display: inline-block;
  margin: 0.16em 5em;
  width: 35px;
  height: 17px;
  position: absolute;
  content: "";
  border-radius: 10px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#378fe6),
    to(#3eda82)
  );
  background: linear-gradient(90deg, #378fe6 0%, #3eda82 100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#toggle:checked ~ .switch:before {
  -webkit-transform: translatex(17px);
  transform: translatex(17px);
  background: white;
}

#toggle:checked ~ .switch:after {
  background: #aeb3cb;
}

#toggle:checked ~ .main {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(65%, white),
      color-stop(65%, #f5f7ff)
    )
    no-repeat;
  background: linear-gradient(0deg, white 65%, #f5f7ff 65%) no-repeat;
}

.main__cards--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  -webkit-column-gap: 3%;
  column-gap: 3%;
  width: 100%;
  height: 180px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__cards--container article {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 25% 50% 25%;
  grid-template-rows: auto 25% 50% 25%;
  width: 100%;
  height: 180px;
  border-radius: 5px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 6%;
  background-color: #252a41;
  color: white;
  overflow: hidden;
}

.main__cards--container article:nth-child(1) .top {
  height: 4px;
  width: 100%;
  background: #1ca0f2;
}

.main__cards--container article:nth-child(2) .top {
  height: 4px;
  width: 100%;
  background: deepskyblue;
}

.main__cards--container article:nth-child(3) .top {
  height: 4px;
  width: 100%;
  background: linear-gradient(45deg, #fdc468, #df4996);
}

.main__cards--container article:nth-child(4) .top {
  height: 4px;
  width: 100%;
  background: #c4032a;
}

.card__title {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

.card__title img {
  width: 8%;
  vertical-align: -webkit-baseline-middle;
}

.card__title span {
  vertical-align: sub;
  color: #63687e;
}

.card__info--main h1 {
  color: white;
}

.card__info--main p {
  margin: 0;
  font-size: 9px;
  color: #63687e;
}

.card__info--last {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

.card__info--last span {
  vertical-align: sub;
}

.last__cards--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: (minmax(250px, 1fr)) [auto-fit];
  grid-template: 1fr 1fr / repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 3%;
  column-gap: 3%;
  row-gap: 10%;
  width: 100%;
  height: 210px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.last__cards--container article {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 20px 12px;
  border-radius: 5px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #252a41;
}

.last__cards--container article .card__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.last__cards--container article .card__info--last {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: end;
  align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.last__cards--container article .card__info--last h2 {
  color: white;
}

.last__cards--container .up,
.last__cards--container .down {
  margin-top: auto;
}

@media (max-width: 990px) {
  .last__cards--container {
    margin-top: 30px;
  }
  main h2 {
    margin-top: 240px;
  }
  .switch {
    left: 77%;
  }
}

@media (max-width: 465px) {
  main h2 {
    margin-top: 650px;
  }

  .switch {
    top: 100px;
    left: 50%;
  }
}

#toggle:checked ~ .main article {
  background-color: #f0f2fa;
}

#toggle:checked ~ .main article h1,
#toggle:checked ~ .main article h2 {
  color: #252a41;
}
/*# sourceMappingURL=styles.css.map */
