/*PRIMARY*/
/*LIGHT THEME*/
/*DARK THEME*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}

body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: 0 10%;
  font-size: 14px;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(65%, white), color-stop(65%, #f5f7ff)) no-repeat;
  background: linear-gradient(0deg, white 65%, #f5f7ff 65%) no-repeat;
}

main {
  margin-top: 50px;
}

h1 {
  font-size: 40px;
  margin: 0;
}

span {
  font-size: 10px;
  font-weight: 700;
}

.down {
  color: #c4032a;
}

.up {
  color: #1db489;
}

nav {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article h2,
h6 {
  margin: 0;
}

h6 {
  font-size: 11px;
  color: #63687e;
}

article:nth-child(2) {
  -ms-grid-column-align: end;
      justify-self: end;
}

article:nth-child(2) span {
  vertical-align: sub;
}

/*SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0;
  background-color: #1db489;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main__cards--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 15px;
          column-gap: 15px;
  width: inherit;
  height: 180px;
}

.main__cards--container article {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 50% 25%;
      grid-template-rows: 25% 50% 25%;
  width: 230px;
  height: 180px;
  background-color: #f0f2fa;
  border-radius: 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__cards--container article:nth-child(1) {
  border-top: 4px solid #1ca0f2;
}

.main__cards--container article:nth-child(2) {
  -ms-grid-column-align: center;
      justify-self: center;
  border-top: 4px solid deepskyblue;
}

.main__cards--container article:nth-child(3) {
  -ms-grid-column-align: end;
      justify-self: end;
  border-top: 4px solid;
  border-image-source: linear-gradient(45deg, #fdc468, #df4996);
  border-image-slice: 1;
}

.main__cards--container article:nth-child(4) {
  -ms-grid-column-align: end;
      justify-self: end;
  border-top: 4px solid #c4032a;
}

.card__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.card__title img {
  width: 8%;
  vertical-align: -webkit-baseline-middle;
}

.card__title span {
  vertical-align: sub;
  color: #63687e;
}

.card__info--main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.card__info--main p {
  margin: 0;
  font-size: 9px;
  color: #63687e;
}

.card__info--last {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card__info--last span {
  vertical-align: sub;
}
/*# sourceMappingURL=styles.css.map */