@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}

body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: 0 10%;
  font-size: 14px;
  background: $very-dark-blue;
  // background: linear-gradient(0deg, $white 65%, $very-pale-blue 65%) no-repeat;
  background: linear-gradient(0deg, $very-dark-blue 65%, $darker-blue 65%)
    no-repeat;
}

main {
  margin-top: 40px;
}

h1 {
  font-size: 40px;
  margin: 0;
}

span {
  font-size: 10px;
  font-weight: 700;
}

.down {
  color: $bright-red;
}

.up {
  color: $lime-green;
}

main {
  h2 {
    position: relative;
    color: $dark-grayish-blue;
    //dark-theme
    // color: $white;
  }
}
