@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}

body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: 0 10%;
  font-size: 14px;
  background: $white;
  background: linear-gradient(0deg, $white 70%, $very-pale-blue 70%) no-repeat;
}

main {
  margin-top: 50px;
}

h1 {
  font-size: 35px;
  margin: 0;
}

span {
  font-size: 10px;
  font-weight: 700;
}

.down {
  color: $youtube;
}

.up {
  color: $lime-green;
}
