nav {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  span {
    color: $dark-grayish-blue;
  }
  article {
    margin-bottom: 10px;
  }
}

article h2,
h6 {
  margin: 0;
}

h2 {
  color: $white;
}

h6 {
  font-size: 11px;
  color: $dark-grayish-blue;
}

article:nth-child(2) {
  justify-self: end;
}

article:nth-child(2) span {
  vertical-align: sub;
}

/*SWITCH*/

#toggle {
  opacity: 0;
}
#toggle:checked ~ .switch {
  color: #ddd;
}
.switch {
  display: flex;
  flex-direction: row;
  color: $white;
  position: absolute;
  top: 55px;
  left: (81.05%) - (left($base, 100vw) / 20);
  text-align: center;
  cursor: pointer;
}
.switch:before {
  display: inline-block;
  margin: 0.3em 5.2em;
  width: 12px;
  height: 12px;
  position: absolute;
  content: "";
  border-radius: 50%;
  background: $dark-desaturated-blue;
  z-index: 2;
  transition: 0.2s ease-out;
}
.switch:after {
  display: inline-block;
  margin: 0.16em 5em;
  width: 35px;
  height: 17px;
  position: absolute;
  content: "";
  border-radius: 10px;
  background: $dark-toggle;
  transition: 0.3s ease-in-out;
}
#toggle:checked ~ .switch:before {
  transform: translatex(17px);
  background: $white;
}
#toggle:checked ~ .switch:after {
  background: $toggle;
}

#toggle:checked ~ .main {
  background: linear-gradient(0deg, $white 65%, $very-pale-blue 65%) no-repeat;
}
