.last__cards--container {
  display: grid;
  grid-template: 1fr 1fr / repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 3%;
  row-gap: 10%;
  width: 100%;
  height: 210px;
  margin-bottom: 40px;
  justify-content: space-between;
  article {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 5px 20px 12px;
    // background-color: $light-grayish-blue;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    //dark-theme
    background-color: $dark-desaturated-blue;
  }
}

.last__cards--container {
  article {
    .card__title {
      grid-row: 1 / 2;
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .card__info--last {
      grid-row: 2 / 3;
      align-self: end;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      //dark-theme
      h2 {
        color: $white;
      }
    }
  }
}

.last__cards--container {
  .up,
  .down {
    margin-top: auto;
  }
}
