.main__cards--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  width: inherit;
  height: 180px;
  article {
    display: grid;
    grid-template-rows: 25% 50% 25%;
    width: 230px;
    height: 180px;
    background-color: $light-grayish-blue;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    &:nth-child(1) {
      border-top: 4px solid $facebook;
    }
    &:nth-child(2) {
      justify-self: center;
      border-top: 4px solid $twitter;
    }
    &:nth-child(3) {
      justify-self: end;
      border-top: 4px solid;
      border-image-source: $instagram;
      border-image-slice: 1;
    }
    &:nth-child(4) {
      justify-self: end;
      border-top: 4px solid $youtube;
    }
  }
}

.card__title {
  grid-row: 1 / 2;
  align-self: end;
  img {
    width: 8%;
    vertical-align: -webkit-baseline-middle;
  }
  span {
    vertical-align: sub;
    color: $dark-grayish-blue;
  }
}

.card__info--main {
  grid-row: 2 / 3;
  p {
    margin: 0;
    font-size: 9px;
    color: $dark-grayish-blue;
  }
}

.card__info--last {
  grid-row: 3 / 4;
  align-self: start;
  span {
    vertical-align: sub;
  }
}
